@font-face {
	font-family: verdana;
	src: url("font/verdana.ttf");
}

@font-face {
	font-family: comic-regular;
	src: url("font/ComicNeue-Regular.ttf");
}

@font-face {
	font-family: soopafresh;
	src: url("font/soopafresh_pl.ttf");
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: soopafresh;
	font-size: 24px;
}

#about img {
}

#about section {
	width: auto;
}

#logo {
	display: flex;
	gap: 20px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	background-color: #6A7495;
}

#main {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	background-color: white;
	background-image: url("res/0.svg");
	background-size: 100% 100%;
}

#bottom {
	background: url("res/grass-top.png") repeat-x, url("res/earth-high.png");
}

#bottom p, #bottom table {
	color: white;
}

#bottom a, #bottom h2 { 
	color: white;
}

#bottom td, #bottom th {
	border: 1px solid white;
}

#about {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
	/*background-image: url("wood.svg");
	background-size: 100% 100%;*/
}

table {
	border-collapse: collapse;
	width: 500px;
}

hint {
	font-style: italic;
	color: gray;
}

#download {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

td, th {
	border: 1px solid black;
	padding: 7px;
}

footer {
	/*background-image: url("dirt.png");
	background-repeat: repeat;
	background-size: contain cover;
	color: white;*/
	/*background: url("grass-top.png") repeat-x, url("earth-high.png");*/
}

